<!-- TODO: Reformat -->

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form action="/stores/new" method="post">
      <legend>New Store</legend>
      <div class="form-group">
        <label for="store-name">Name</label>
        <input
          type="text"
          name="name"
          class="form-control"
          id="store-name"
          placeholder="Name"
        />
      </div>
      <div class="form-group">
        <label for="store-url">Url</label>
        <input
          type="url"
          name="url"
          class="form-control"
          id="store-url"
          placeholder="https://www.google.com"
        />
      </div>
      <div class="form-group">
        <label for="store-summary">Summary</label>
        <textarea
          name="summary"
          class="form-control"
          id="store-summary"
          placeholder="Summary"
        ></textarea>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Add Store</button>
      </div>
    </form>
  </div>
</div>